
@font-face {
    font-family: work sans;
    src: url(./WorkSans-VariableFont_wght.woff2);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: work sans;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aqua/; */
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 10px 80px;
    /* padding-top: 120px; */
    gap: 200px;

}
#left{
    height: 90%;
    width: 45%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}
#left h1{
    font-size: 120px;
    font-weight: 400;
    line-height: 100px;
}
#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;    
}
#left p{
    font-size: 20px;
    width: 90%;
    font-weight: 600;
    color: #444;
    line-height: 30px;
}
#bottom-left{
    height: 40%;
    width: 100%;
    /* background-color: yellow; */
}
#color{
    /* background-color: rgb(85, 0, 255); */
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #000;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
}
#right{
    height: 90%;
    width: 33%;
    /* background-color: aqua; */
    position: relative;
}
#right img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}
#right-top{
    height: 50px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
#right h4{
    font-size: 30px;
    font-weight: 600;
}
#right-top h5{
    font-size: 17px;
}
#right-top h5 i{
    color: gold;
}
#black-gola{
    height: 100px;
    width: 100px;
    color: #ffffffde;
    background-color: rgba(3, 3, 7);
    border-radius: 50%;
    position: absolute;
    right: -11%;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#black-gola h5{
    font-size: 15px;
    font-weight: 400;
}
#rotated{
    position: absolute;
    left: -10%  ;
    rotate: -90deg;
    transform-origin: 0 0;
    bottom: 10%;
    font-size: 35px;
    font-weight: 500;
    /* background-color: red; */
    /* color: rgb(213, 24, 125)3); */
}

@media (max-width:600px) {
    #main{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 5vh;
        padding-top: 5vh;
        gap: 5vw;
    
    }
    #left{
        height: fit-content;
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 7vh;
    }
    #left h1{
        font-size: 18vw;
        font-weight: 500;
        line-height: 18vw;
        font-family: work sans;
    }
    
    #bottom-left{
        width: 100%;
    }
    #color{
        /* background-color: rgb(85, 0, 255); */
        width: fit-content;
        padding: 6px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: 1px solid #000;
    }
    #color h5{
        font-size: 13px;
        margin-right: 5px;
        font-weight: 500;
    }
    #color1{
        height: 12px;
        width: 12px;
        background-color: burlywood;
        border-radius: 50%;
    }
    #color2{
        height: 12px;
        width: 12px;
        background-color: brown;
        border-radius: 50%;
    }
    #left h2 {
        margin-top: 20px;
        /* font-size: 30px; */
        font-size: 3vw;
        margin-bottom: 8px;
    }

    #left p {
        /* font-size: 20px; */
        font-size: 2.1vw;
        width: 85%;
        font-weight: 600;
        color: #444;
        line-height: 2.6vw;
    }
    #right {
        height: 50%;
        width: 100%;
        /* background-color: rgb(0, 140, 255); */
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

    #right-top {
        height: 60px;
        width: 100%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0px;
    }

    #right-top h4 {
        font-size: 18px;
        font-weight: 600;
        font-family: work sans;
    }

    #right-top h5 {
        font-size: 12px;
    }

    #right-top h5 i {
        color: gold;
    }

    #right img {
        width: 100%;
        height: 88%;
        object-fit: cover;
        border-radius: 5px;
    }

    #black-gola {
        position: absolute;
        height: 60px;
        width: 60px;
        background-color: rgb(26, 26, 26);
        color: #fff;
        border-radius: 50%;
        right: -10%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 20%;
        
    }

    #black-gola h5 {
        font-size: 9px;
        font-weight: 400;
    }

    #rotated {
        position: absolute;
        left: 0%;
        /* background-color: red; */
        top: -10%;
        rotate: 0deg;
        transform-origin: 0 0;
        font-size: 18px;
        font-weight: 600;
    }
}